<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <title>{{ title }}</title>
    <!--==========   STYLESHEET   ==========-->
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" type="text/css" href="plugins/slick.css"/>


</head>

<body>
{{> body }}

<!--==========   PLUGINS   ==========-->
<script src="plugins/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js" integrity="sha256-huW7yWl7tNfP7lGk46XE+Sp0nCotjzYodhVKlwaNeco=" crossorigin="anonymous"></script>
<script type="text/javascript" src="plugins/slick.min.js"></script>

<!--==========   SCRIPTS   ==========-->
<script src="js/index.js"></script>

</body>
</html>
